{
    "openapi": "3.0.0",
    "info": {
        "title": "MMA REST API",
        "description": "MarquardtMetaAPI<br>API Rate Limits: 60 Requests/Minute<br>Document endpoint requires Office365 authentification<br><br><strong>Caution!</strong> Some endpoints are still under heavy development. They may change format and fields or deliver static test data.",
        "contact": {
            "email": "steven.madsen@marquardt-kuechen.de"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.marquardt-kuechen.de/mma/v1/",
            "description": "MMA - MarquardtMetaAPI Live"
        }
    ],
    "paths": {
        "/documents/email": {
            "post": {
                "tags": [
                    "Email"
                ],
                "summary": "An endpoint to upload email content with attached file.",
                "operationId": "newEmail",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "databaseName": {
                                        "type": "string",
                                        "example": "MHS"
                                    },
                                    "marquardtOrderNumber": {
                                        "type": "string",
                                        "example": "000006"
                                    },
                                    "posOrderNumber": {
                                        "type": "string",
                                        "example": "2511"
                                    },
                                    "documentTypeID": {
                                        "type": "string",
                                        "example": "AUF 1234"
                                    },
                                    "LNAME": {
                                        "type": "string",
                                        "example": "POS Homeservice GmbH"
                                    },
                                    "LORT": {
                                        "type": "string",
                                        "example": "Hausen"
                                    },
                                    "KREDNR": {
                                        "type": "string",
                                        "example": "801880"
                                    },
                                    "BELNR": {
                                        "type": "string",
                                        "example": "35410-6641032"
                                    },
                                    "DocDes": {
                                        "type": "string",
                                        "example": "AUF POS-35410-6641032"
                                    },
                                    "VBLATT": {
                                        "type": "string",
                                        "example": "MMA"
                                    },
                                    "file": {
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "example": ""
                                            },
                                            "name": {
                                                "type": "string",
                                                "example": "name.pdf"
                                            },
                                            "contentType": {
                                                "type": "string",
                                                "example": "application/pdf"
                                            },
                                            "size": {
                                                "type": "int",
                                                "example": "65989"
                                            },
                                            "contentBytes": {
                                                "type": "string",
                                                "example": ""
                                            },
                                            "isInline": {
                                                "type": "bool",
                                                "example": ""
                                            },
                                            "lastModifiedDateTime": {
                                                "type": "string",
                                                "example": ""
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/customer": {
            "post": {
                "tags": [
                    "Customer"
                ],
                "summary": "",
                "operationId": "createCustomer",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "salutationKey": {
                                        "type": "string",
                                        "example": ""
                                    },
                                    "iso2A": {
                                        "type": "string",
                                        "example": "DE"
                                    },
                                    "federalStateKey": {
                                        "type": "string",
                                        "example": ""
                                    },
                                    "name2": {
                                        "type": "string",
                                        "example": ""
                                    },
                                    "name1": {
                                        "type": "string",
                                        "example": ""
                                    },
                                    "strasse": {
                                        "type": "string",
                                        "example": ""
                                    },
                                    "plz": {
                                        "type": "string",
                                        "example": ""
                                    },
                                    "ort": {
                                        "type": "string",
                                        "example": ""
                                    },
                                    "contractList": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "collectionFormat": "multi",
                                        "example": [
                                            "1",
                                            "2",
                                            "147"
                                        ]
                                    },
                                    "attentionList": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "collectionFormat": "multi",
                                        "example": [
                                            "1",
                                            "2",
                                            "147"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/customerService": {
            "get": {
                "tags": [
                    "CustomerService"
                ],
                "summary": "",
                "operationId": "createCustomerService",
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "CustomerService"
                ],
                "summary": "",
                "operationId": "createCustomerService",
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "CustomerService"
                ],
                "summary": "",
                "operationId": "createCustomerService",
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "CustomerService"
                ],
                "summary": "",
                "operationId": "createCustomerService",
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/keys/attention": {
            "get": {
                "tags": [
                    "Keys"
                ],
                "summary": "liest alle oder einzelne Aufmerksamkeits ErpFremdKey und bez. aus",
                "operationId": "getAttentionKey",
                "parameters": [
                    {
                        "name": "attentionKeyList[]",
                        "in": "query",
                        "description": "List of keys to search, show all if null",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "collectionFormat": "multi",
                            "example": [
                                "ECORO_643",
                                "ECORO_644"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/keys/country": {
            "get": {
                "tags": [
                    "Keys"
                ],
                "summary": "liest alle oder einzelne Laender ErpFremkey und Bez. Aus",
                "operationId": "getCountryKey",
                "parameters": [
                    {
                        "name": "countryKeyList[]",
                        "in": "query",
                        "description": "List of keys to search, show all if null",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "collectionFormat": "multi",
                            "example": [
                                "1",
                                "2",
                                "147"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/keys/serviceError": {
            "get": {
                "tags": [
                    "Keys"
                ],
                "summary": "liest alle oder einzelne Kundendienst Fehlerschluessel erpFremdKey und bez. aus",
                "operationId": "getServiceErrorKeys",
                "parameters": [
                    {
                        "name": "serviceErrorTextKeyList[]",
                        "in": "query",
                        "description": "List of keys to search, show all if null",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "collectionFormat": "multi",
                            "example": [
                                "MHS_101",
                                "MHS_102",
                                "MHS_106"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/keys/serviceNote": {
            "get": {
                "tags": [
                    "Keys"
                ],
                "summary": "lieste alle Textbausteine für Kundendienst Notiz aus, abhängig von Mitarbeiter Gruppe",
                "operationId": "getServiceNoteKeys",
                "parameters": [
                    {
                        "name": "serviceNoteKeyList[]",
                        "in": "query",
                        "description": "List of keys to search, show all if null",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "int"
                            },
                            "collectionFormat": "multi",
                            "example": [
                                1,
                                2,
                                3
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/keys/employee": {
            "get": {
                "tags": [
                    "Keys"
                ],
                "summary": "liest einen oder einzelne Mitarbeiter oder Mitarbeiter Gruppe aus",
                "operationId": "getEmployeeKeys",
                "parameters": [
                    {
                        "name": "employeeKeyList[]",
                        "in": "query",
                        "description": "List of keys to search, show all if null",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "collectionFormat": "multi",
                            "example": [
                                "MHS_XYZ",
                                "MHS_ABC"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/keys/employeeType": {
            "get": {
                "tags": [
                    "Keys"
                ],
                "summary": "liest aller oder einzelne Mitarbeiter Tätigkeit aus",
                "operationId": "getEmployeeTypeKeys",
                "parameters": [
                    {
                        "name": "employeeTypeKeyList[]",
                        "in": "query",
                        "description": "List of keys to search, show all if null",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "collectionFormat": "multi",
                            "example": [
                                "ECORO_3036",
                                "ECORO_3037"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/keys/leadOrigin": {
            "get": {
                "tags": [
                    "Keys"
                ],
                "summary": "liest alle oder einzelne Herkunfts leadOriginList und bez. aus",
                "operationId": "getLeadOriginKeys",
                "parameters": [
                    {
                        "name": "leadOriginKeyList[]",
                        "in": "query",
                        "description": "List of keys to search, show all if null",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "collectionFormat": "multi",
                            "example": [
                                "ECORO_2836",
                                "ECORO_642",
                                "ECORO_641"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/keys/outlet": {
            "get": {
                "tags": [
                    "Keys"
                ],
                "summary": "liest alle oder teile der Filialedaten aus inkl. mitarbeiter",
                "operationId": "getOutletKeys",
                "parameters": [
                    {
                        "name": "outletKeyList[]",
                        "in": "query",
                        "description": "List of keys to search, show all if null",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "collectionFormat": "multi",
                            "example": [
                                "MHS_05",
                                "MHS_06"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/keys/paymentTerm": {
            "get": {
                "tags": [
                    "Keys"
                ],
                "summary": "liest alle oder einzelne zahlungs Bedingung aus",
                "operationId": "getPaymentTermKey",
                "parameters": [
                    {
                        "name": "paymentTermKeyList[]",
                        "in": "query",
                        "description": "List of keys to search, show all if null",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "collectionFormat": "multi",
                            "example": [
                                "MHS_01",
                                "MHS_02",
                                "MHS_20"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/keys/probability": {
            "get": {
                "tags": [
                    "Keys"
                ],
                "summary": "liest alle oder einzelne Wahrscheinlichkeits ErpFremdKey und bez. aus",
                "operationId": "getProbabilityKeys",
                "parameters": [
                    {
                        "name": "probabilityKeyList[]",
                        "in": "query",
                        "description": "List of keys to search, show all if null",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "collectionFormat": "multi",
                            "example": [
                                "ECORO_645",
                                "ECORO_646",
                                "ECORO_647"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/keys/salutation": {
            "get": {
                "tags": [
                    "Keys"
                ],
                "summary": "liest alle oder einzelne Anrede salutationList und bez. aus",
                "operationId": "getSalutationKeys",
                "parameters": [
                    {
                        "name": "salutationKeyList[]",
                        "in": "query",
                        "description": "List of keys to search, show all if null",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "collectionFormat": "multi",
                            "example": [
                                "MHS_01",
                                "MHS_02",
                                "MHS_03"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/keys/salutationTitle": {
            "get": {
                "tags": [
                    "Keys"
                ],
                "summary": "liest alle oder einzelne Title ErpFremdKey und bez. aus",
                "operationId": "getSalutationTitleKeys",
                "parameters": [
                    {
                        "name": "salutationTitleKeyList[]",
                        "in": "query",
                        "description": "List of keys to search, show all if null",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "collectionFormat": "multi",
                            "example": [
                                "MHS_01",
                                "MHS_02",
                                "MHS_81"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/keys/federalState": {
            "get": {
                "tags": [
                    "Keys"
                ],
                "summary": "liest alle oder einzelne Bundesländer aus",
                "operationId": "getFederalStateKeys",
                "parameters": [
                    {
                        "name": "federalStateKeyList[]",
                        "in": "query",
                        "description": "List of keys to search, show all if null",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "collectionFormat": "multi",
                            "example": [
                                "ECORO_1",
                                "ECORO_16",
                                "ECORO_13"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/keys/leadStatus": {
            "get": {
                "tags": [
                    "Keys"
                ],
                "summary": "liest alle oder einzelne Chance Status leadStatusList und bez. aus",
                "operationId": "getLeadStatusKeys",
                "parameters": [
                    {
                        "name": "leadStatusKeyList[]",
                        "in": "query",
                        "description": "List of keys to search, show all if null",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "collectionFormat": "multi",
                            "example": [
                                "ECORO_636",
                                "ECORO_637",
                                "ECORO_2841"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/keys/intentToPurchase": {
            "get": {
                "tags": [
                    "Keys"
                ],
                "summary": "liest alle oder einzelne Kaufabschichts ErpFremdKey und bez. aus",
                "operationId": "getIntentToPurchaseKeys",
                "parameters": [
                    {
                        "name": "intentToPurchaseKeyList[]",
                        "in": "query",
                        "description": "List of keys to search, show all if null",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "collectionFormat": "multi",
                            "example": [
                                "ECORO_654",
                                "ECORO_655",
                                "ECORO_656"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/documents/": {
            "get": {
                "tags": [
                    "Document"
                ],
                "summary": "Liefert eine Liste aller Dokumente für angefragte Kommission",
                "operationId": "getDocumentList",
                "parameters": [
                    {
                        "name": "kaufvertragNummer",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "000006"
                    },
                    {
                        "name": "kaufvertragNummerPos",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Document"
                ],
                "summary": "Speichert neue Datei in Dokumentcontainer",
                "operationId": "saveFile",
                "parameters": [
                    {
                        "name": "DatabaseName",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "mhs"
                    },
                    {
                        "name": "CommissionNr",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": ""
                    },
                    {
                        "name": "PosNr",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": ""
                    },
                    {
                        "name": "ReceiptType",
                        "in": "query",
                        "description": "Auftragsart Bsp 34 = KV, 304 = KV-Änderung, 4509 = Bestellung",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "34"
                    },
                    {
                        "name": "User",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Description",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Document",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "binary"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Document"
                ],
                "summary": "Loescht eine Datei/ ein Dokument",
                "operationId": "DeleteDocument",
                "parameters": [
                    {
                        "name": "DatabaseName",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "DocumentID",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "FileID",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Document"
                ],
                "summary": "Aendert eine Datei in Dokumentcontainer",
                "operationId": "updateFile",
                "parameters": [
                    {
                        "name": "DatabaseName",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "CommissionNr",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "PosNr",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "ReceiptType",
                        "in": "query",
                        "description": "Kann nur verändert werden wenn das Dokument eine Zwischenablage ist. Auftragsart Bsp 34 = KV, 304 = KV-Änderung, 4509 = Bestellung",
                        "schema": {
                            "type": "string"
                        },
                        "example": "34"
                    },
                    {
                        "name": "User",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Description",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "DocumentID",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": "20834984"
                    },
                    {
                        "name": "FileID",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "integer"
                        },
                        "example": "20834985"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/documents/get": {
            "get": {
                "tags": [
                    "Document"
                ],
                "summary": "Ruft die Dokument Eigenschaften ab",
                "operationId": "getDocumentFile",
                "parameters": [
                    {
                        "name": "DatabaseName",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "mhs"
                    },
                    {
                        "name": "DocumentID",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": "20834984"
                    },
                    {
                        "name": "FileID",
                        "in": "query",
                        "description": "",
                        "example": "20834985"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/documents/databases": {
            "get": {
                "tags": [
                    "Document"
                ],
                "summary": "Ruft verfügbare Datenbanken ab",
                "operationId": "getDatabases",
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/documents/download": {
            "get": {
                "tags": [
                    "Document"
                ],
                "summary": "Ruft das Dokument zum Download ab",
                "operationId": "downloadDocumentFile",
                "parameters": [
                    {
                        "name": "DatabaseName",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "mhs"
                    },
                    {
                        "name": "DocumentID",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": "20834984"
                    },
                    {
                        "name": "FileID",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "example": "20834985"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/documents/types": {
            "get": {
                "tags": [
                    "Document"
                ],
                "summary": "Liefert eine Liste aller Dokument-Typen",
                "operationId": "getDocumentTypes",
                "responses": {
                    "200": {
                        "description": "Validation Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "description": "MMA main authentification",
                "name": "Authorization",
                "in": "header",
                "scheme": "bearer"
            },
            "token": {
                "type": "apiKey",
                "description": "Only for document endpoint authentification",
                "name": "oAuth2accessToken",
                "in": "query"
            }
        }
    },
    "tags": [
        {
            "name": "Customer",
            "description": "Customer"
        },
        {
            "name": "CustomerService",
            "description": "CustomerService"
        },
        {
            "name": "Keys",
            "description": "Find option data for key fields"
        }
    ],
    "security": [
        []
    ]
}